<div class="row m-4 p-2">
  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <!--add product link -->
  <div>
    <button routerLink="/products/add" class=" btn btn-primary">Add Product</button>
  </div>

  
  <div class="mb-4">
    <input type="text" placeholder="Search Text"
    class="from-control" [(ngModel)]="searchText">
  </div>

<div class="card col-md-3 m-3 border-0 text-center" style="width: 18rem; box-shadow: 2px 2px 5px rgb(5, 227, 197)"
 *ngFor="let p of copyOfProducts">
    <img [src]="p.imageUrl" [ngStyle]="{'width':'200px', 'height':'200px'}" class="card-img-top" alt="{{p.name}}">
    <div class="card-body">
      <h5 class="card-title" style="cursor: pointer;" [routerLink]="['/product',p.id]">{{p.name}}</h5>
      <!-- <h5 class="card-title"> {{p.name}}</h5>  -->
      <h6 class="card-text"> {{p.price}}</h6>
      <p class="card-text">{{p.description}}</p>
      <a href="#" class="btn btn-primary"(click)="addtocart()">Add to cart</a>
    </div>
  </div>
</div>